<script setup>
import httpClient from '@/main';
import router from "@/router";
import { onMounted, reactive, ref, watch } from "vue";
import Swal from 'sweetalert2';

const qrCode = ref('');
const result = ref('')
const userInput = ref({
    code: '',
})
onMounted(() => {
    getVerifySession();
})

async function getVerifySession() {
  const url = "/verify/map";

  try {
    const response = await httpClient.post(url);

    await Swal.fire({
      icon: 'success',
      title: 'Success',
      text: '你已經驗證過了'
    });

    await router.push('/');
  } catch (error) {
    console.log(error);

    // await router.push('/login');
  }
}

async function postUserInput() {
    const url = "/verify?code=" + userInput.value.code;
    
    getVerifySession();

    try {
        const response = await httpClient.get(url);

        result.value = response.data

        console.log(response.data);
    } catch (error) {
        console.log(error);

        result.value = '驗證失敗'
        // await router.push('/login');
    }
}
</script>

<template>
    <div class="row justify-content-center">
        <div class="col-10 col-md-6">
            <div class="card">
                <div class="card-header">輸入你的OTP密碼(6位數)</div>
                <div class="card-body">

                    <div id="user-input">

                        <div class="input-group">
                            <label for="staticEmail" class="col-sm-1 col-form-label">OTP密碼</label>
                            <input class="form-control" name="otp" v-model.trim="userInput.code" />
                        </div>
                        <br />

                        <button @click="postUserInput" class="btn btn-primary mb-2">送出</button>
                    </div>

                    <div v-if="result" id="result">{{ result }}</div>
                </div>
            </div>

        </div>
    </div>
</template>

<style scoped></style>