<script setup>
import router from '@/router';
import httpClient from "@/main";
import { onMounted, reactive, ref, watch } from "vue";
import Swal from 'sweetalert2';

const emits = defineEmits(["specificDiscussion"]);

const loginMemberId = ref('');
const memberName = ref('');
const memberBirthday = ref('');
const memberInfo = ref('');
const memberPhoto = ref('');
const memberPhotoURL = ref('');
const memberImg = ref('');
const senderName = ref('');
const activityId = ref('');

const memberList = ref([])
const activityList = ref([]);
const activityDetailList = ref([]);

let socket = null;
let inputText;
let counterActivity;

onMounted(() => {
    getMemberSession();
    getVerifySession();
    initializeWebSocket();
    getAllActivity();
})

function goToHome() {
    router.push('/')
}

async function getMemberSession() {
    const url = "/member/map";

    try {
        const response = await httpClient.post(url);

        loginMemberId.value = response.data.memberId

    } catch (error) {
        console.log(error);

        await router.push('/login');
    }
}

async function getVerifySession() {
    const url = "/verify/map";

    try {
        const response = await httpClient.post(url);
    } catch (error) {
        console.log(error);

        await router.push('/login');
    }
}

async function getMemberById() {
    const url = "/member/findById";

    try {
        const response = await httpClient.post(url, {
            "id": loginMemberId.value,
        });

        memberName.value = response.data.memberName;
        memberBirthday.value = response.data.memberBirthday;
        memberInfo.value = response.data.memberInfo;
        memberPhoto.value = response.data.memberPhoto;

        transformByteArrayToPhoto(response.data.memberPhoto);

    } catch (error) {
        console.log(error);
    }
}

watch(loginMemberId, getMemberById)

function transformByteArrayToPhoto(byteArray) {
    const bytes = new Uint8Array(byteArray);
    const blob = new Blob([bytes, { type: 'image/jpg' }]);

    memberPhotoURL.value = (window.URL || window.webkitURL).createObjectURL(blob);

    memberImg.value = 'data:img/jpeg;base64, ' + byteArray;
}

function initializeWebSocket() {
    socket = new WebSocket("ws://localhost:8091/practice5/chatRoom");

    console.log('connect!!');

    const messagesDiv = document.getElementById("messages");

    if (messagesDiv) {
        console.log('有 message');

        // console.log(messagesDiv);
    }

    socket.onmessage = function (event) {

        if (messagesDiv) {
            const message = JSON.parse(event.data);

            // console.log(message.messageContent);
            if (!message.systemMessage) {
                console.log('Start');

                messagesDiv.innerHTML += `<img src="${message.messageContent}" alt="" />`;

                messagesDiv.innerHTML += `<p style="word-wrap: break-word; word-break: break-all;"><strong>${message.senderId}:</strong> ${message.messageContent}</p>`;
            } else {
                memberList.value = excludeMemberList(message.messageContent);

                // console.log(memberList.value);
            }

            messagesDiv.scrollTop = messagesDiv.scrollHeight;
        } else {
            console.error("Element with id 'messages' not found");
        }
    };

}

function sendMessage() {
    // const recipient = document.getElementById("recipient").value;
    const message = document.getElementById("message").value;

    const data = {
        chatId: 1,
        memberId: loginMemberId.value,
        messageContent: message,
    };

    if (socket.readyState === WebSocket.OPEN) {
        socket.send(JSON.stringify(data));

        persistMessage(data.memberId, data.messageContent);

        clearText();

        console.log('WebSocket connecting');
    } else {
        clearText();

        console.error("WebSocket connected fail");
    }
}

function clearText() {
    inputText = '';
}

async function getSenderNameFromSenderId(senderId) {
    const url = '/member/findById';

    try {
        const response = await httpClient.post(url, {
            "id": senderId,
        });

        senderName.value = response.data.memberName;
        console.log(response);

        return {
            name: response.data.memberName,
        };
    } catch (error) {
        console.log(error);

        return null;
    }
}

function excludeMemberList(target) {
    const onliner = target.filter(e => e != loginMemberId.value);

    return onliner;
}

async function getAllActivity() {
    const url = "/activity/findAll";

    try {
        const response = await httpClient.post(url);

        activityList.value = response.data;

        // console.log(response.data);
    } catch (error) {
        console.log(error);
    }
}

async function findActivityDetailById(activityId) {
    const url = "/activityDetail/findByActivityId";

    try {
        const response = await httpClient.post(url, {
            "id": activityId,
        });

        activityDetailList.value = response.data;

        counterActivity++;

        // console.log(response.data);
    } catch (error) {
        console.log(error);
    }
}

async function persistMessage(memberId, messageContent) {
    const url = '/message/create';

    try {
        await httpClient.post(url, {
            "memberId": memberId,
            "messageContent": messageContent,
        });
    } catch (error) {
        console.log(error);

        await Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '別輸入太多字，資料庫不保存的'
        })
    }
}

function sendactivityDetailIdToDiscussion(activityDetailId) {
    // console.log(activityDetailId);

    router.push({
        path: `/discussion/${activityDetailId}`,
        // query: { activityDetailId: activityDetailId }
    })
}

function goToCreateActivityDetail() {
    router.push('/create/activity-detail')
}

</script>

<template>

    <v-app id="inspire">
        <v-system-bar @click="goToHome">
            <v-spacer>
            </v-spacer>

            <v-icon>mdi-square</v-icon>

            <v-icon>mdi-circle</v-icon>

            <v-icon>mdi-triangle</v-icon>
        </v-system-bar>

        <v-navigation-drawer color="grey-lighten-3" rail>
            <v-avatar class="d-block text-center mx-auto mt-4" color="grey-darken-1" size="50">
                <img :src=memberImg alt="" />
            </v-avatar>

            <v-divider class="mx-3 my-5"></v-divider>

            <v-avatar v-for="n in memberList" :key="n" class="d-block text-center mx-auto mb-9" color="grey-lighten-1"
                size="28">

            </v-avatar>
        </v-navigation-drawer>

        <v-navigation-drawer width="244">
            <v-sheet color="grey-lighten-5" height="128" width="100%"></v-sheet>

            <v-list>
                <v-list-item v-for="activity in activityList" :key="activity.activityId"
                    :title="`${activity.activityName}`" link
                    @click="findActivityDetailById(activity.activityId)"></v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar class="px-3" color="grey-lighten-4" flat height="72">
            <v-spacer></v-spacer>

            <v-responsive max-width="156">
                <v-text-field bg-color="grey-lighten-1" density="compact" flat hide-details rounded="pill"
                    variant="solo-filled"></v-text-field>
            </v-responsive>
        </v-app-bar>

        <v-main>
            <div class="color">
                <div class="form_dialogue">
                    <br />

                    <div class="container">
                        <div id="messages"></div>
                    </div>

                </div>
            </div>
        </v-main>

        <v-navigation-drawer location="right">
            <v-list>
                <v-list-item v-for="activityDetail in activityDetailList" :key="activityDetail.activityDetailId"
                    :title="`${activityDetail.activityDetailName}`"
                    @click="sendactivityDetailIdToDiscussion(activityDetail.activityDetailId)" link>
                </v-list-item>
                <v-list-item v-for="n in 1" :key="n" :title="`新增活動`" @click="goToCreateActivityDetail" link>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-footer app height="72">
            <v-text-field bg-color="grey-lighten-1" class="overflow-hidden" density="compact" flat hide-details
                rounded="pill" variant="solo-filled" id="message" v-model="inputText" @keyup.enter="sendMessage">

            </v-text-field>
        </v-footer>
    </v-app>
</template>

<style scoped>
p {
    word-wrap: break-word;
    word-break: break-all;
}
</style>