<template>
  <div class="card">
    <div class="card-header">
      時間:
      <span>{{ props.discussCreatedAt }}</span>


    </div>
    <div class="card-body">
      {{ memberName }}:
      <span>{{ props.discussContent }}</span>

    </div>
  </div>
  <br />
</template>
  
<script setup>
import httpClient from '@/main';
import { ref, onMounted, watch } from 'vue';

const props = defineProps(['memberId', 'activityDetailId', 'discussContent', 'discussCreatedAt'])

const memberName = ref('');

onMounted(() => {
  findMemberById();
})

async function findMemberById() {
  const url = "/member/findById"

  // console.log(props.memberId);
  try {
    const response = await httpClient.post(url, {
      "id": props.memberId
    })

    memberName.value = response.data.memberName;
  } catch (error) {

  }
}
</script>