<script setup>
import httpClient from '@/main';
import { onMounted, reactive, ref, watch } from "vue";
import ExcelComponents from '@/components/document/ExcelComponents.vue'
import Swal from 'sweetalert2';
import router from '@/router';

const memberList = ref([])
const memberId = ref('')
const roleId = ref('')

onMounted(() => {
  getMemberSession();
  getVerifySession();
  findAllMember();
})

async function getMemberSession() {
  const url = "/member/map";

  try {
    const response = await httpClient.post(url);

    memberId.value = response.data.memberId;
    findById();
  } catch (error) {
    console.log(error);

    await Swal.fire({
      icon: 'error',
      title: 'Error',
      text: '你還沒登入'
    })

    await router.push('/login');
  }
}

async function getVerifySession() {
  const url = "/verify/map";

  try {
    const response = await httpClient.post(url);
  } catch (error) {
    console.log(error);

    await router.push('/login');
  }
}

async function findById() {
  const url = '/member/findById';

  try {
    const response = await httpClient.post(url, {
      "id": memberId.value
    })

    roleId.value = response.data.roleId
  } catch (error) {
    console.log(error);
  }
}

async function findAllMember() {
  const url = '/member/findAll';

  try {
    const response = await httpClient.post(url);

    memberList.value = response.data;
  } catch (error) {
    console.log(error);
  }
}

async function checkRole() {

  if (roleId.value != 1) {
      await Swal.fire({
        icon: 'error',
        title: 'Error',
        text: '權限不足'
      })
      router.push('/memberCenter')
    }
}

watch(roleId, checkRole)

</script>

<template>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>會員名稱</th>
        <th>匯出會員聊天紀錄</th>
      </tr>
    </thead>

    <ExcelComponents v-for="member in memberList" :key="member.memberId" :memberId="member.memberId"
      :memberName="member.memberName" />

  </table>
</template>

<style scoped></style>