<script setup>
</script>

<template>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <router-link class="navbar-brand" to='/'>MyApp</router-link>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <router-link class="nav-link" to='/'>首頁</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to='/about'>About</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to='/memberCenter'>會員中心</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to='/activityCenter'>活動中心</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to='/register'>註冊</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to='/login'>登入</router-link>
                    </li>
                    
                    <li class="nav-item">
                        <router-link class="nav-link" to='/logout'>登出</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <p></p>
</template>

<style></style>