<script setup>
import httpClient from '@/main';
import { find } from 'bootstrap/js/dist/dom/selector-engine';
import { onMounted, reactive, ref, watch } from "vue";
import Swal from "sweetalert2";

const props = defineProps(['memberId', 'memberName'])

async function exportExcel() {
    const url = '/excel/create';

    const config = {
        responseType: 'blob'
    }

    try {
        const response = await httpClient.post(url, {
            "id": props.memberId
        }, config);

        console.log(response);
        console.log(response.headers);

        let excelBlob = new Blob([response.data], {
            type: "application/vnd.ms-excel"
        })

        let filename = response.headers['content-disposition'].replace('attachment;filename=', '')
        let objectUrl = URL.createObjectURL(excelBlob)
        let a = document.createElement("a")
        a.href = objectUrl;
        a.download = '會員聊天紀錄-' + filename;

        a.dispatchEvent(new MouseEvent('click', {
            bubbles: true,
            cancelable: true,
            view: window
        }))

        window.URL.revokeObjectURL(excelBlob);

        await Swal.fire({
            icon: 'success',
            title: 'Success',
            text: '成功下載!'
        });

    } catch (error) {
        console.log(error);

        await Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Oops'
        });
    }
}
</script>

<template>
    <tbody>
        <tr>
            <td>{{ props.memberName }}</td>
            <td>
                <button @click="exportExcel" class="btn btn-secondary">匯出</button>
            </td>
        </tr>
    </tbody>
</template>

<style scoped></style>