<template>
  <div class="about">
    <h1>關於網站</h1>

    <div>
      <h2>
        <ul>
          <li>手機要下載 Authenticator 才能註冊會員</li>
          <li>Authenticator 一定要能支援TOTP(time-based one time password)</li>
          <li>請妥善保存密鑰 QRCode</li>
          <li>輸入完 OTP ，就可以進聊天室聊天</li>
        </ul>
      </h2>
    </div>

  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
