<script setup xmlns="http://www.w3.org/1999/html">
import { onMounted, ref, watch } from "vue";
import httpClient from "@/main";
import Swal from "sweetalert2";
import { Field, Form } from "vee-validate";
import router from "@/router";

const loginMemberId = ref('');
const activityId = ref(0);
const activityDetailName = ref('');
const activityDetailInfo = ref('');
const startDate = ref('');
const endDate = ref('');
const activityList = ref([]);

// Fetch Data
onMounted(() => {
  getMemberSession();
  loadAllActivity();
})

async function createActivity() {
  const url = '/activityDetail/create';

  try {
    await httpClient.post(url, {
      "activityId": activityId.value,
      "memberId": loginMemberId.value,
      "activityDetailName": activityDetailName.value,
      "activityDetailInfo": activityDetailInfo.value,
      "startDate": startDate.value,
      "endDate": endDate.value
    });

    await Swal.fire({
      icon: 'success',
      title: 'Success',
      text: '成功新增!'
    });

    console.log('Promotion created successfully');
  } catch (err) {
    await Swal.fire({
      icon: 'error',
      title: 'Error',
      text: 'Oops'
    });

    console.error('Error creating activity:', err.message);
  } finally {
    clearInput();
  }
}

function demo() {
  const answerInput1 = document.querySelector('[name=activityDetailName]');
  const answerInput2 = document.querySelector('[name=description]');
  const answerInput3 = document.querySelector('[name=startDate]');
  const answerInput4 = document.querySelector('[name=endDate]');

  const answer1 = '睡睡團';
  const answer2 = '超難看= =';
  const answer3 = '2023-02-28T01:00';
  const answer4 = '2024-03-28T01:00';

  if (answerInput1) {
    answerInput1.value = answer1;
    activityDetailName.value = answer1
  }

  if (answerInput2) {
    answerInput2.value = answer2;
    activityDetailInfo.value = answer2;
  }

  if (answerInput3) {
    answerInput3.value = answer3;
    startDate.value = answer3;
  }

  if (answerInput4) {
    answerInput4.value = answer4;
    endDate.value = answer4;
  }
}

async function loadAllActivity() {
  const url = '/activity/findAll';

  try {
    const response = await httpClient.post(url);

    activityList.value = response.data;
    // console.log(activityList.value);
  } catch (err) {
    console.error(err);
  }
}

async function getMemberSession() {
  const url = "/member/map";

  try {
    const response = await httpClient.post(url);

    loginMemberId.value = response.data.memberId
  } catch (error) {
    console.log(error);

    router.push('/login')
  }
}

function clearInput() {
  activityId.value = null;
  activityDetailName.value = '';
  activityDetailInfo.value = '';
  startDate.value = '';
  endDate.value = '';
}

const schema = {
  activityDetailName(value) {
    if (!value) return '要有活動名'
    if (!/^(?=.*[^&])[^&]{1,20}$/.test(value)) return '字數在1~20字'
    return true
  },
  description(value) {
    if (!/^(?=.*[^&])[^&]{1,100}$/.test(value)) return '字數在1~100字內'
    return true
  },
  startDate(value) {
    if (!value) return '要有活動開始時間'
    return true
  },
  endDate(value) {
    if (!value) return '要有活動結束時間'
    return true
  },
}

</script>

<template>
  <div class="container-fluid">

    <div class="row">

      <main class="main-header2 col-md-10 col-lg-10 d-md-block">

        <Form :validation-schema="schema" v-slot="{ errors }" method="post">
          <div class="mb-3">
            <label for="activityDropdown" class="form-label">Selection：</label>
            <select v-model="activityId" name="activity" class="form-select">
              <option v-for="activity in activityList" :key="activity.activityId" :value="activity.activityId">
                {{ activity.activityName }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label for="activityDetailName" class="form-label">活動名稱：</label>
            <Field type="text" v-model.trim="activityDetailName" id="activityDetailName" name="activityDetailName"
              placeholder="不超過20字" class="form-control" />
          </div>

          <span class="error" v-if="errors.activityDetailName" style="color: red;">
            {{ errors.activityDetailName }}
          </span>

          <div class="mb-3">
            <label for="description" class="form-label">活動簡介: </label>
            <Field v-model="activityDetailInfo" name="description" placeholder="不超過100字" class="form-control" rows="4">
            </Field>
          </div>

          <span class="error" v-if="errors.description" style="color: red;">
            {{ errors.description }}
          </span>

          <div class="mb-3">
            <label for="startDate" class="form-label">開始時間：</label>
            <Field type="datetime-local" v-model="startDate" name="startDate" class="form-control" />
          </div>

          <span class="error" v-if="errors.startDate" style="color: red;">
            {{ errors.startDate }}
          </span>

          <div class="mb-3">
            <label for="EndDate" class="form-label">結束時間：</label>
            <Field type="datetime-local" v-model="endDate" name="endDate" class="form-control" />
          </div>

          <span class="error" v-if="errors.endDate" style="color: red;">
            {{ errors.endDate }}
          </span>

          <div>
            <button @click.prevent="createActivity()"><span>Submit</span></button>
          </div>
          <br />
        </Form>
        <div>
          <button @click="demo()"><span>Demo</span></button>
        </div>


        <!-- <div class="mb-3">
                    <label for="activityDropdown" class="form-label">Selection：</label>
                    <select v-model="activityId" name="activity" class="form-select">
                        <option v-for="activity in activityList" :key="activity.activityId"
                            :value="activity.activityId">
                            {{ activity.activityName }}
                        </option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="activityDetailName" class="form-label">活動名稱：</label>
                    <input type="text" v-model.trim="activityDetailName"
                        id="activityDetailName" name="activityDetailName" placeholder="不超過20字" class="form-control">
                </div>

                <span id="nameError" style="display: none;color: red;">名稱不能是空的</span>

                <div class="mb-3">
                    <label for="Description" class="form-label">活動簡介: </label>
                    <textarea v-model="activityDetailInfo" name="Description" placeholder="不超過100字" class="form-control"
                        rows="4"></textarea>
                </div>

                <div class="mb-3">
                    <label for="StartDate" class="form-label">開始時間：</label>
                    <input type="datetime-local" v-model="startDate" name="StartDate" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="EndDate" class="form-label">結束時間：</label>
                    <input type="datetime-local" v-model="endDate" name="EndDate" class="form-control">
                </div>

                <div>
                    <button @click="createActivity()"><span>Submit</span></button>
                </div>
                <br />
                <div>
                    <button @click="demo()"><span>Demo</span></button>
                </div> -->

      </main>
    </div>
  </div>
</template>

<style scoped>
.row1 {
  display: flex;
  align-items: end;
  margin: 15px 20px 0px 0;
}

#logo-black {
  width: 130px;
}

#logo-fantuan {
  width: 90px;
}

.sidebar-container {
  margin: 0 0 0 15px;
}

.main-header {
  margin: 30px 0px 0 0;
}

.main-header {
  display: flex;
  align-items: flex-end;
}

.input-icon {
  position: absolute;
  left: 170px;
  top: 50%;
  transform: translateY(-50%);
}

.input-icon-wrapper input {
  padding-left: 30px;
}

.main-header2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 1000px;
  width: 100%;
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #FFD401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 3px 5px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
</style>