<template>
  <h1>{{ activityDetailName }} 評論區</h1>
  <br />
  <h2>{{ activityDetailInfo }}</h2>
  <br />
  <div v-if="checkDate">
    <h6>活動開始於: {{ startDate }}</h6>
    <h6>活動結束於: {{ endDate }}</h6>
  </div>
  <div v-else="checkDate">
    <h6>活動結束</h6>
  </div>

  <button type="button" class="btn btn-primary" @click="createDiscussion">新增訊息
  </button>

  <ShowDiscussionComponents v-for="discuss in discussionContent" :key="discuss.discussId" :memberId="discuss.memberId"
    :activityDetailId="discuss.activityDetailId" :discussContent="discuss.discussContent"
    :discussCreatedAt="discuss.discussCreatedAt" />
  <!-- <Pagination @updateMsgList="updatePagelist" :totalPages="totalPages" :currentPageNum="currentPageNum" /> -->
</template>
  
<script setup>
import { ref, onMounted, watch } from 'vue';
// import Pagination from '@/components/Pagination.vue';
import ShowDiscussionComponents from '@/components/activity/ShowDiscussionComponents.vue';
import httpClient from '@/main';
import router from '@/router';
import Swal from "sweetalert2"

const addModal = ref(null)
const pageContent = ref([]);
const currentPageNum = ref(1);
const totalPages = ref(1);
const inputText = ref("");
const activityDetailId = ref('');
const activityDetailName = ref('');
const activityDetailInfo = ref('');
const startDate = ref('');
const endDate = ref('');

const loginMemberId = ref('');

const discussionContent = ref([])

// Fetch data method

onMounted(() => {
  getMemberSession();
  getDiscussionDetail();

})

async function getMemberSession() {
  const url = "/member/map";

  try {
    const response = await httpClient.post(url);

    loginMemberId.value = response.data.memberId

  } catch (error) {
    console.log(error);

    await router.push('/login');
  }
}

function getDiscussionDetail() {
  // console.log(router.currentRoute._rawValue.params.activityDetailId);

  activityDetailId.value = router.currentRoute._rawValue.params.activityDetailId;
}

async function showDiscussion() {
  const url = '/discuss/findById';

  try {
    const response = await httpClient.post(url, {
      "id": activityDetailId.value
    });

    discussionContent.value = response.data;

    // console.log(response.data);
  } catch (error) {
    console.log(error);
  }
}

watch(activityDetailId, showDiscussion);

async function findActivityDetailById() {
  const url = '/activityDetail/findById';

  try {
    const response = await httpClient.post(url, {
      "id": activityDetailId.value
    });

    activityDetailName.value = response.data.activityDetailName
    activityDetailInfo.value = response.data.activityDetailInfo
    startDate.value = response.data.startDate
    endDate.value = response.data.endDate

    // console.log(response.data.activityDetailName);
  } catch (error) {
    console.log(error);
  }
}

watch(activityDetailId, findActivityDetailById);

async function createDiscussion() {
  const { value: formValues } = await Swal.fire({
    title: "說說什麼吧",
    html: `<div class="mb-3">
            <label for="discussContent" class="form-label">評論: </label>
            <input id="discussContent" class="swal2-input" placeholder="不要超過30字">
            </div>
      `,
    focusConfirm: false,
    preConfirm: () => {
      return {
        discussContent: document.getElementById('discussContent').value
      }
    }
  });

  if (formValues) {
    const url = '/discuss/create'

    try {
      await httpClient.post(url, {
        "memberId": loginMemberId.value,
        "activityDetailId": activityDetailId.value,
        "discussContent": formValues.discussContent
      });

      await Swal.fire({
        icon: 'success',
        title: 'Success',
        text: '成功'
      });
    } catch (error) {
      await Swal.fire({
        icon: 'error',
        title: 'Error',
        text: '失敗'
      })
    } finally {
      showDiscussion();
    }
  }
}

async function showPageContent() {
  const ajaxOptions = {
    params: {
      p: currentPageNum.value
    }
  }
  try {
    const response = await httpClient.get('/api/messages/page', ajaxOptions);
    console.log(response);

    pageContent.value = response.data.content;
    currentPageNum.value = response.data.pageable.pageNumber + 1;
    totalPages.value = response.data.totalPages;
  } catch (err) {
    console.log(err);
  }
}

const updatePagelist = (somePage) => {
  currentPageNum.value = somePage;
}

watch(currentPageNum, showPageContent);

function checkDate() {
  if (endDate.value < new Date()) {
    console.log(false);
    return false;
  }
  console.log(true);
  return true;
}

</script>