<script setup>
import Navbar from '@/components/core/Navbar.vue';
</script>

<template>
  <Navbar></Navbar>
  <div class="container">
    <router-view></router-view>
  </div>
 

</template>

<style scoped>


</style>

