<template>
    <div class="row justify-content-center">
        <div class="col-10 col-md-6">
            <div class="card">
                <div class="card-header">登入</div>
                <div class="card-body">

                    <div id="user-input">

                        <div class="input-group">
                            <label for="staticEmail" class="col-sm-1 col-form-label">帳號</label>
                            <input class="form-control" name="account" v-model.trim="account" />
                        </div>
                        <br />
                        <div class="input-group">
                            <label for="staticEmail" class="col-sm-1 col-form-label">密碼</label>
                            <input class="form-control" name="password" v-model.trim="password" type="password" />
                        </div>
                        <br />
                        <button @click="postUserInput" class="btn btn-primary mb-2">送出</button>
                        <button @click="forgetPassword" class="btn btn-warning mb-2">忘記密碼</button>
                    </div>

                </div>
            </div>

            <div id="result">{{ result }}</div>

            <!-- <div id="loginUser">{{ loginUser }}</div>

            <div id="loginUserId">{{ loginUserId }}</div> -->
        </div>
    </div>
</template>
  
<script setup>
import { ref } from 'vue';
import Swal from 'sweetalert2';
import httpClient from '@/main';
import router from '@/router';
//   import {sessionUser} from '@/service/userService';


const account = ref('')
const password = ref('')
const result = ref('')
const loginUser = ref('')
const loginUserId = ref('')


async function postUserInput() {
    const url = "/member/login"

    try {
        const response = await httpClient.post(url, {
            "account": account.value,
            "password": password.value
        })

        result.value = response.data
        checkIfReplicateLogin(account.value);

        // await router.push('/mfa');
    } catch (error) {
        console.log(error);

        result.value = error.response.data
    } finally {
        clearInput();
    }
}

async function checkIfReplicateLogin(account) {
    const url = '/member/replicateLogin?account=' + account;

    try {
        await httpClient.get(url);

        await router.push('/mfa');
    } catch (error) {
        console.log(error);

        result.value = '你已在其他設備登入';
    }
}

async function logout() {
    const url = "/member/logout";

    try {
        const response = await httpClient.post(url);

        result.value = '你已在其他設備登入';
    } catch (error) {
        console.log(error);

        result.value = '你已在其他設備登入'
    }
}

function clearInput() {
    account.value = '';
    password.value = ''
}

async function forgetPassword() {
    const { value: formValues } = await Swal.fire({
        title: "請輸入你的帳號和最喜歡的動物",
        html: `<div class="mb-3">
        <label for="account" class="form-label">帳號是: </label>
            <input id="account" class="swal2-input" placeholder="你原本的帳號">
            <label for="animal" class="form-label">動物是: </label>
            <input id="animal" class="swal2-input" placeholder="別輸錯了">
            </div>
      `,
        focusConfirm: false,
        preConfirm: () => {
            return {
                account: document.getElementById('account').value,
                animal: document.getElementById('animal').value
            }
        }
    });

    if (formValues) {
        const url = '/member/find-your-password'

        try {
            const response = await httpClient.post(url, {
                "account": formValues.account,
                "animal": formValues.animal,
            });

            await Swal.fire({
                icon: 'success',
                title: '你的密碼是',
                text: response.data
            });
        } catch (error) {
            await Swal.fire({
                icon: 'error',
                title: 'Error',
                text: '失敗'
            })
        } 
    }
}

</script>