<script setup>
import { ref } from 'vue';
import httpClient from '@/main';

const result = ref('')

async function logout() {
    const url = "/member/logout";

    try {
        const response = await httpClient.post(url);

        result.value = response.data;
        console.log(response.data);
    } catch (error) {
        console.log(error);

        result.value = error.response.data
    }
}
</script>

<template>
    <div class="row justify-content-center">
        <div class="col-10 col-md-6">
            <div>
                <button @click="logout" class="btn btn-primary">登出</button>
            </div>

            <div id="result">{{ result }}</div>
        </div>
    </div>
</template>

<style scoped></style>