<script setup xmlns:https="http://www.w3.org/1999/xhtml">
import httpClient from "@/main";
import router from "@/router";
import { onMounted, reactive, ref, watch } from "vue";
import Swal from "sweetalert2";
import { Form, Field } from "vee-validate";

const result = ref('')

const loginMemberId = ref('');

const memberName = ref('');
const memberBirthday = ref('');
const memberInfo = ref('');
const memberPhoto = ref('');
const roleId = ref('');

const memberPhotoURL = ref('');
const memberImg = ref('');

const userInput = ref({
  account: '',
  password: '',
  memberName: '',
  memberBirthday: '',
  memberInfo: '',
  memberPhoto: '',
})

// Fetch Data

onMounted(() => {
  getMemberSession();
  getVerifySession();
})

async function postUserInput() {
  const url = "/member/update";
  const file = document.getElementById('memberPhoto');
  const formData = new FormData();

  formData.append('memberId', loginMemberId.value);
  formData.append('memberName', userInput.value.memberName);
  formData.append('memberBirthday', userInput.value.memberBirthday);
  formData.append('memberInfo', userInput.value.memberInfo);
  formData.append('memberPhoto', file.files[0]);

  try {

    const responseForm = await httpClient.post(url, formData);

    await Swal.fire({
      icon: 'success',
      title: 'Success',
      text: '成功'
    });
    getMemberById();
  } catch (error) {
    console.log(error);

    // result.value = error.response.data
    await Swal.fire({
      icon: 'error',
      title: 'Error',
      text: '失敗'
    })
  }
}


async function getMemberSession() {
  const url = "/member/map";

  try {
    const response = await httpClient.post(url);

    loginMemberId.value = response.data.memberId
  } catch (error) {
    console.log(error);

    await Swal.fire({
      icon: 'error',
      title: 'Error',
      text: '你還沒登入'
    })

    await router.push('/login');
  }
}

async function getVerifySession() {
  const url = "/verify/map";

  try {
    const response = await httpClient.post(url);
  } catch (error) {
    console.log(error);

    await router.push('/login');
  }
}

async function getMemberById() {
  const url = "/member/findById";

  try {
    const response = await httpClient.post(url, {
      "id": loginMemberId.value,
    });

    memberName.value = response.data.memberName;
    memberBirthday.value = response.data.memberBirthday;
    memberInfo.value = response.data.memberInfo;
    memberPhoto.value = response.data.memberPhoto;
    roleId.value = response.data.roleId

    transformByteArrayToPhoto(response.data.memberPhoto);

  } catch (error) {
    console.log(error);
  }
}

watch(loginMemberId, getMemberById)

function transformByteArrayToPhoto(byteArray) {
  const bytes = new Uint8Array(byteArray);
  const blob = new Blob([bytes, { type: 'image/jpg' }]);

  memberPhotoURL.value = (window.URL || window.webkitURL).createObjectURL(blob);

  memberImg.value = 'data:img/jpeg;base64, ' + byteArray;
}

function changeButtonDisplay() {
  if (roleId.value == 1) {
    document.getElementById("exportExcel").style.display = 'block'
  } else {
    document.getElementById("exportExcel").style.display = 'none'
  }
}

watch(roleId, changeButtonDisplay)

function goToExportExcel() {
  router.push('/exportExcel')
}

async function updatePassword() {
  const { value: formValues } = await Swal.fire({
    title: "請輸入舊密碼和新密碼",
    html: `<div class="mb-3">
        <label for="oldPassword" class="form-label">舊密碼是: </label>
            <input id="oldPassword" class="swal2-input" >
            <label for="newPassword" class="form-label">新密碼是: </label>
            <input id="newPassword" class="swal2-input" >
            <label for="secondPassword" class="form-label">新密碼是: </label>
            <input id="secondPassword" class="swal2-input" placeholder="新密碼再輸入一次" >
            </div>
      `,
    focusConfirm: false,
    preConfirm: () => {
      return {
        oldPassword: document.getElementById('oldPassword').value,
        newPassword: document.getElementById('newPassword').value,
        secondPassword: document.getElementById('secondPassword').value,
      }
    }
  });

  if (formValues && (formValues.newPassword == formValues.secondPassword)) {
    const url = '/member/update/password'

    try {
      const response = await httpClient.post(url, {
        "memberId": loginMemberId.value,
        "oldPassword": formValues.oldPassword,
        "newPassword": formValues.newPassword,
      });

      await Swal.fire({
        icon: 'success',
        title: 'Success',
        text: '成功'
      });
    } catch (error) {
      await Swal.fire({
        icon: 'error',
        title: 'Error',
        text: '失敗'
      })
    }
  }else{
    await Swal.fire({
        icon: 'error',
        title: 'Error',
        text: '失敗'
      })
  }
}

function demo() {
  const answerInput1 = document.querySelector('[name=memberName]');
  const answerInput2 = document.querySelector('[name=memberBirthday]');
  const answerInput3 = document.querySelector('[name=memberInfo]');

  const answer1 = 'Testman';
  const answer2 = '1997-04-14';
  const answer3 = '滑鼠';

  if (answerInput1) {
    answerInput1.value = answer1;
    userInput.value.memberName = answer1
  }

  if (answerInput2) {
    answerInput2.value = answer2;
    userInput.value.memberBirthday = answer2;
  }

  if (answerInput3) {
    answerInput3.value = answer3;
    userInput.value.memberInfo = answer3;
  }
}

const schema = {
  memberName(value) {
    if (!value) return '要有姓名'
    if (!/^(?=.*[^&])[^&]{1,25}$/.test(value)) return '字數在1~25字'
    return true
  },
  memberBirthday(value) {
    if (!value) return '要有生日'
    if (!/^((19|20)[0-9]{2})-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$^((2000|2400|2800|(19|20)(0[48]|[2468][048]|[13579][26]))-02-29)$|^(((19|20)[0-9]{2})-02-(0[1-9]|1[0-9]|2[0-8]))$|^(((19|20)[0-9]{2})-(0[13578]|10|12)-(0[1-9]|[12][0-9]|3[01]))$|^(((19|20)[0-9]{2})-(0[469]|11)-(0[1-9]|[12][0-9]|30))$/.test(value)) return '生日格式不對'
    return true
  },
  memberInfo(value) {
    if (!value) return '要有喜歡的動物'
    if (!/^(?=.*[^&])[^&]{1,25}$/.test(value)) return '字數在1~30字'
    return true
  },
  memberPhoto(value) {
    if (!value) return '要有照片'
    return true
  },
}

</script>

<template>

  <body>
    <main>
      <section class="glass">
        <div class="dashboard">
          <div class="user">
            <img :src=memberImg alt="" />
            <h3>{{ memberName }}</h3>
          </div>

        </div>

        <div class="books">
          <div class="status">
            <h1>個人資料</h1>
          </div>
        </div>

        <!-- <div class="row justify-content-center"> -->
        <div class="col-10 col-md-6">
          <div class="card">
            <div class="card-header">更新個人資料</div>
            <div class="card-body">

              <Form :validation-schema="schema" v-slot="{ errors }" method="post" action="/">
                <div id="user-input">

                  <div class="input-group">
                    <label for="staticEmail" class="col-sm-1 col-form-label">姓名</label>
                    <Field class="form-control" name="memberName" placeholder="不超過25個字"
                      v-model.trim="userInput.memberName" type="text" />
                  </div>
                  <span class="error" v-if="errors.memberName" style="color: red;">
                    {{ errors.memberName }}
                  </span>
                  <br />

                  <div class="input-group">
                    <label for="memberBirthday" class="col-sm-1 col-form-label">生日</label>
                    <Field type="date" v-model="userInput.memberBirthday" name="memberBirthday" class="form-control" />
                  </div>
                  <span class="error" v-if="errors.memberBirthday" style="color: red;">
                    {{ errors.memberBirthday }}
                  </span>
                  <br />

                  <div class="input-group">
                    <label for="staticEmail" class="col-sm-1 col-form-label">最喜歡的動物</label>
                    <Field class="form-control" name="memberInfo" placeholder="不超過30個字"
                      v-model.trim="userInput.memberInfo" type="text" />
                  </div>
                  <span class="error" v-if="errors.memberInfo" style="color: red;">
                    {{ errors.memberInfo }}
                  </span>
                  <br />

                  <div class="input-group">
                    <label for="staticEmail" class="col-sm-1 col-form-label">照片</label>
                    <Field id="memberPhoto" placeholder="不能為空" class="form-control" name="memberPhoto" type="file" />
                  </div>
                  <span class="error" v-if="errors.memberPhoto" style="color: red;">
                    {{ errors.memberPhoto }}
                  </span>
                  <br />

                  <button @click.prevent="postUserInput" class="btn btn-primary mb-2">送出</button>

                </div>
              </Form>
              <button id="updatePassword" @click="updatePassword" class="btn btn-outline-danger mb-2">更改密碼</button>
              <button id="demo" @click="demo" class="btn btn-outline-secondary mb-2">Demo</button>

              <!-- <div id="user-input">

                                <div class="input-group">
                                    <label for="staticEmail" class="col-sm-1 col-form-label">姓名</label>
                                    <input class="form-control" name="memberName" placeholder="不超過25個字"
                                        v-model.trim="userInput.memberName" type="text" />
                                </div>
                                <br />
                                <div class="input-group">
                                    <label for="memberBirthday" class="col-sm-1 col-form-label">生日</label>
                                    <input type="date" v-model="userInput.memberBirthday" name="memberBirthday"
                                        class="form-control">
                                </div>
                                <br />
                                <div class="input-group">
                                    <label for="staticEmail" class="col-sm-1 col-form-label">最喜歡的動物</label>
                                    <textarea class="form-control" name="memberInfo" placeholder="不超過30個字"
                                        v-model.trim="userInput.memberInfo" type="text" />
                                </div>
                                <br />
                                <div class="input-group">
                                    <label for="staticEmail" class="col-sm-1 col-form-label">照片</label>
                                    <input id="memberPhoto" placeholder="不能為空" class="form-control" name="memberPhoto"
                                        type="file" />
                                </div>
                                <br />
                                <button @click="postUserInput" class="btn btn-primary mb-2">送出</button>
                                <button id="updatePassword" @click="updatePassword"
                                    class="btn btn-outline-danger mb-2">更改密碼</button>
                                <button id="updatePassword" @click="demo"
                                    class="btn btn-outline-secondary mb-2">Demo</button>
                            </div> -->

            </div>
          </div>

          <div v-if="result" id="result">{{ result }}</div>

          <button id="exportExcel" @click="goToExportExcel" class="btn btn-outline-info mb-2"
            style="display: none;">匯出會員聊天紀錄</button>
          <!-- </div> -->
        </div>

      </section>

    </main>

  </body>
</template>

<style scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #ddad4a;
  font-weight: 800;
  font-size: 3rem;
  opacity: 0.8;
}

h2,
p {
  color: #5475ce;
  font-weight: 700;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

main {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  /* background: linear-gradient(to right top, #191919, #000000); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}

.user img {
  object-fit: contain;
  height: 200px;
  width: 200px;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3));
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
}

.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}

.link a {
  cursor: pointer;
  transition: 0.2s all;
  display: inline-flex;
  text-decoration: none;
}

.link a:hover img {
  animation: pulse 2s infinite;
  transition: 0.2s;
  transform: scale(1.05);
}

.link a img {
  margin: 0 5px;
  max-width: 20%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.link a h2 {
  display: inline-block;
  vertical-align: middle;
}

.books {
  flex: 2;
}

.pro {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  margin: 0 0.5em;
  position: relative;
}

.pro img {
  position: absolute;
  top: -10%;
  right: 10%;
}

.pro h2 {
  width: 45%;
  color: white;
  font-weight: 800;
}

/* BOOKS */
.status {
  margin-bottom: 3rem;
}

.status input {
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3));
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 2rem;
}

.books {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  background: linear-gradient(to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5));
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

.card img {
  max-width: 20%;
  height: auto;
}

.progress {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(236, 236, 236);
  position: absolute;
  left: 60%;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>