<template>
  <div class="row justify-content-center">
    <div class="col-10 col-md-6">
      <div class="card">
        <div class="card-header">註冊新帳號</div>
        <div class="card-body">

          <Form :validation-schema="schema" method="post" v-slot="{ errors }">
            <div id="user-input">

              <div class="input-group">
                <label for="staticEmail" class="col-sm-1 col-form-label">帳號</label>
                <Field class="form-control" id="account" name="account" placeholder="開頭一個英文大小寫，再加上7個數字"
                  v-model.trim="userInput.account" type="email" />
              </div>
              <span style="display: none; color: red;">帳號已被註冊</span>
              <span class="error" v-if="errors.account" style="color: red;">
                {{ errors.account }}
              </span>
              <br />

              <div class="input-group">
                <label for="staticEmail" class="col-sm-1 col-form-label">密碼</label>
                <Field class="form-control" id="password" name="password"
                  placeholder="應包含英文大小寫、數字、特殊符號(@, #, $, %)，8~12字" v-model.trim="userInput.password" type="password" />
              </div>
              <span class="error" v-if="errors.password" style="color: red;">
                {{ errors.password }}
              </span>
              <br />

              <div class="input-group">
                <label for="staticEmail" class="col-sm-1 col-form-label">姓名</label>
                <Field class="form-control" name="memberName" placeholder="不超過25個字" v-model.trim="userInput.memberName"
                  type="text" />
              </div>
              <span class="error" v-if="errors.memberName" style="color: red;">
                {{ errors.memberName }}
              </span>
              <br />

              <div class="input-group">
                <label for="memberBirthday" class="col-sm-1 col-form-label">生日</label>
                <Field type="date" v-model="userInput.memberBirthday" name="memberBirthday" class="form-control" />
              </div>
              <span class="error" v-if="errors.memberBirthday" style="color: red;">
                {{ errors.memberBirthday }}
              </span>
              <br />

              <div class="input-group">
                <label for="staticEmail" class="col-sm-1 col-form-label">最喜歡的動物</label>
                <Field class="form-control" name="memberInfo" placeholder="不超過30個字" v-model.trim="userInput.memberInfo"
                  type="text" />
              </div>
              <span class="error" v-if="errors.memberInfo" style="color: red;">
                {{ errors.memberInfo }}
              </span>
              <br />

              <div class="input-group">
                <label for="staticEmail" class="col-sm-1 col-form-label">照片</label>
                <!-- <input class="form-control" name="memberPhoto" @change="userInput.memberPhoto" type="file"
        multiple="multiple" /> -->

                <Field id="memberPhoto" class="form-control" name="memberPhoto" type="file" />
              </div>
              <span class="error" v-if="errors.memberPhoto" style="color: red;">
                {{ errors.memberPhoto }}
              </span>
              <br />

              <button @click.prevent="postUserInput" class="btn btn-primary mb-2">送出</button>
            </div>
          </Form>

          <!-- <div id="user-input">

                        <div class="input-group">
                            <label for="staticEmail" class="col-sm-1 col-form-label">帳號</label>
                            <input class="form-control" name="account" placeholder="開頭一個英文大小寫，再加上7個數字"
                                v-model.trim="userInput.account" type="email" />
                        </div>
                        <span style="display: none; color: red;">帳號已被註冊</span>
                        <br />
                        <div class="input-group">
                            <label for="staticEmail" class="col-sm-1 col-form-label">密碼</label>
                            <input class="form-control" name="password" placeholder="應包含英文大小寫、數字、特殊符號(@, #, $, %)，8~12字"
                                v-model.trim="userInput.password" type="password" />
                        </div>
                        <br />
                        <div class="input-group">
                            <label for="staticEmail" class="col-sm-1 col-form-label">姓名</label>
                            <input class="form-control" name="memberName" placeholder="不超過25個字"
                                v-model.trim="userInput.memberName" type="text" />
                        </div>
                        <br />
                        <div class="input-group">
                            <label for="memberBirthday" class="col-sm-1 col-form-label">生日</label>
                            <input type="date" v-model="userInput.memberBirthday" name="memberBirthday"
                                class="form-control">
                        </div>
                        <br />
                        <div class="input-group">
                            <label for="staticEmail" class="col-sm-1 col-form-label">最喜歡的動物</label>
                            <textarea class="form-control" name="memberInfo" placeholder="不超過30個字"
                                v-model.trim="userInput.memberInfo" type="text" />
                        </div>
                        <br />
                        <div class="input-group">
                            <label for="staticEmail" class="col-sm-1 col-form-label">照片</label>
                                multiple="multiple" /> -->
          <!-- 
                    <input id="memberPhoto" class="form-control" name="memberPhoto" type="file" />
                </div>
                <br />
                <button @click.prevent="postUserInput" class="btn btn-primary mb-2">送出</button>
            </div> -->

        </div>
      </div>

      <div v-if="result" id="result">{{ result }}</div>

      <div>
        <img :src=qrCode alt="" />
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import httpClient from '@/main';
import moment from "moment";
import { Field, Form } from 'vee-validate';


const result = ref('')
const qrCode = ref('');

const userInput = ref({
  account: '',
  password: '',
  memberName: '',
  memberBirthday: '',
  memberInfo: '',
  memberPhoto: '',
})

async function postUserInput() {
  const url = "/member/create";

  const file = document.getElementById('memberPhoto');

  // console.log(file);
  // console.log('==========@=========');
  // console.log(file.value);
  // console.log("==========@@========");
  // console.log(file.files[0]);
  // console.log("==========@@@========");

  const formData = new FormData();

  formData.append('account', userInput.value.account);
  formData.append('password', userInput.value.password);
  formData.append('memberName', userInput.value.memberName);
  formData.append('memberBirthday', userInput.value.memberBirthday);
  formData.append('memberInfo', userInput.value.memberInfo);
  formData.append('memberPhoto', file.files[0]);

  console.log(convertToCustomFormat(userInput.value.memberBirthday));

  try {
    // const response = await httpClient.post(url, {
    //     "account": userInput.value.account,
    //     "password": userInput.value.password,
    //     "memberName": userInput.value.memberName,
    //     "memberBirthday": userInput.value.memberBirthday,
    //     "memberInfo": userInput.value.memberInfo,
    //     "memberPhoto": file.value  
    // })

    const responseForm = await httpClient.post(url, formData);

    qrCode.value = responseForm.data;

    console.log(responseForm.data);
    // result.value = responseForm.data
  } catch (error) {
    console.log(error);

    if (error.response.data == '帳號已被註冊') {
      result.value = '帳號已被註冊'
    } else {
      result.value = '註冊錯誤'
    }
  } finally {
    clearInput();
  }
}

function convertToCustomFormat(dateTimeString) {
  return moment(dateTimeString).format('YYYY-MM-DD');
}

function clearInput() {
  userInput.value.account = '';
  userInput.value.password = '';
  userInput.value.memberName = '';
  userInput.value.memberBirthday = '';
  userInput.value.memberInfo = '';
  userInput.value.memberPhoto = '';
}

const schema = {
  account(value) {
    if (!value) return '要有帳號'
    if (!/^[a-zA-Z]\d{7}$/.test(value)) return '帳號格式不正確'
    return true
  },
  password(value) {
    if (!value) return '要有密碼'
    if (!/^(?=.*[@#$%])(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[a-zA-Z\d@#$%]{8,12}$/.test(value)) return '密碼格式不正確'
    return true
  },
  memberName(value) {
    if (!value) return '要有姓名'
    if (!/^(?=.*[^&])[^&]{1,25}$/.test(value)) return '字數在1~25字'
    return true
  },
  memberBirthday(value) {
    if (!value) return '要有生日'
    if (!/^((19|20)[0-9]{2})-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$^((2000|2400|2800|(19|20)(0[48]|[2468][048]|[13579][26]))-02-29)$|^(((19|20)[0-9]{2})-02-(0[1-9]|1[0-9]|2[0-8]))$|^(((19|20)[0-9]{2})-(0[13578]|10|12)-(0[1-9]|[12][0-9]|3[01]))$|^(((19|20)[0-9]{2})-(0[469]|11)-(0[1-9]|[12][0-9]|30))$/.test(value)) return '生日格式不對'
    return true
  },
  memberInfo(value) {
    if (!value) return '要有喜歡的動物'
    if (!/^(?=.*[^&])[^&]{1,25}$/.test(value)) return '字數在1~30字，包含英數中及特殊符號'
    return true
  },
  memberPhoto(value) {
    if (!value) return '要有照片'
    return true
  },
}

</script>